
<script type="text/ng-template"  id="tree_item_renderer.html">
	<span class="select" ng-click="setActive(node)">{{node}}</span>
<!--
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
-->
	<ul class="tree">
        <li ng-repeat="(node,nodes) in nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<div ng-controller="activeElementController">
	<ul class="tree" ng-controller="TreeController">
		<li ng-repeat="(node,nodes) in elements" ng-include="'tree_item_renderer.html'"></li>
	</ul>
</div>
