
<div class="center-block" ng-controller="AddBlogController">
	<h5>Create Blog Module</h5>
	<form>
		<label>Blog Name</label>
		<input type="text" ng-model="blog.name" name="name"><br>
		<label>Accepted Authors: {{authors.join(', ')}}</label><br>
		<select type="text" ng-model="author" ng-change="authors.push(author)" name="authors">
			<option value="Pelle">Pelle</option>
			<option value="Marita">Marita</option>
		</select><br>
		<label>Social Media Links</label>
		<input type="checkbox" ng-model="blog.social" name="social"><br>
		<label>Date Format</label>
		<input type="text" ng-model="blog.dateFormat" name="dateFormat"><br>
		<label>Show Title in Header</label>
		<input type="checkbox" ng-model="blog.showTitle" name="showTitle"><br>
		<button class="btn btn-success" ng-click="createBlogModule(blog)">Create Module</button>
		<button class="btn btn-success" ng-click="createBlogPost(social,dateFormat,heading)">Create Post</button>
	</form>
</div>
<!--
-->
