
<h5>Block Elements</h5>
<h4>Containers</h4>
<button class="btn btn-default" ng-click="append('div')">div</button>
<button class="btn btn-default" ng-click="append('nav')">nav</button>
<button class="btn btn-default" ng-click="append('article')">article</button>
<button class="btn btn-default" ng-click="append('header')">header</button>
<button class="btn btn-default" ng-click="append('footer')">footer</button>
<h4>Text and headings</h4>
<button class="btn btn-default" ng-click="append('p')">p</button>
<button class="btn btn-default" ng-click="append('h1')">h1</button>
<button class="btn btn-default" ng-click="append('h2')">h2</button>
<button class="btn btn-default" ng-click="append('h3')">h3</button>
<button class="btn btn-default" ng-click="append('h4')">h4</button>
<button class="btn btn-default" ng-click="append('h5')">h5</button>
<button class="btn btn-default" ng-click="append('h6')">h6</button>
<h5>Inline elements</h5>
<button class="btn btn-default" ng-click="append('span')">span</button>
<button class="btn btn-default" ng-click="append('i')">i</button>
<button class="btn btn-default" ng-click="append('em')">em</button>
<button class="btn btn-default" ng-click="append('strong')">strong</button>
<button class="btn btn-default" ng-click="append('a')">a</button>
<button class="btn btn-default" ng-click="append('img')">img</button>
<h5>Interactive elements</h5>
<button class="btn btn-default" ng-click="append('button')">button</button>
