
<button class="btn btn-default fa fa-code-fork" ng-click="setMenu('tree')"> Select Element</button>
<button class="btn btn-default fa fa-eye" ng-click="setMenu('style')"> Style</button>
<button class="btn btn-default fa fa-building-o" ng-click="setMenu('grid')"> The Grid System</button>
<button class="btn btn-default fa fa-navicon" ng-click="setMenu('bootstrap')"> Bootstrap</button>
<button class="btn btn-default fa fa-file-code-o" ng-click="append('article')"> Create Article</button>
<button class="btn btn-default fa fa-tag" ng-click="setMenu('tags')"> Tags</button>
<button class="btn btn-default fa fa-history" ng-click="setMenu('archive')"> Archive</button>


