<div ng-controller="RichTextController">
	<h5>Editor</h5>
	<div class="btn-group">
	  <button ng-click="doCommand('bold')" class="btn btn-default fa fa-bold"></button>
	  <button ng-click="doCommand('italicize')" class="btn btn-default fa fa-italic"></button>
	  <button ng-click="doCommand('underline')" class="btn btn-default fa fa-underline"></button>
	  <button ng-click="doCommand('fontName')" class="btn btn-default fa fa-font"></button>
	</div>
	<div class="btn-group">
	  <button ng-click="doCommand('justifyLeft')" class="btn btn-default fa fa-align-left"></button>
	  <button ng-click="doCommand('justifyCenter')" class="btn btn-default fa fa-align-center"></button>
	  <button ng-click="doCommand('justifyRight')" class="btn btn-default fa fa-align-right"></button>
	  <button ng-click="doCommand('justifyFull')" class="btn btn-default fa fa-align-justify"></button>
	</div>
	<div class="btn-group">
	  <button class="btn btn-default fa fa-file-video-o"></button>
	  <button ng-click="doCommand('insertImage')" class="btn btn-default fa fa-file-image-o"></button>
	</div>
	<div class="blog-author" ng-if="blog"><button class="btn btn-success" ng-click="saveBlog()">Save</button><button class="btn btn-success" ng-click="publishBlog()">Publish</button>
</div>
