
<div ng-controller="StyleController">

	<h5>Change Theme</h5>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="theme-dropdown" data-toggle="dropdown"><i class="fa fa-cogs">&nbsp; Theme <span class="caret"></span></i>
	  </button>
	  <ul class="dropdown-menu" id="theme-dropdown-align-center" role="menu" aria-labelledby="theme-dropdown">
	  	<li ng-repeat="(key,value) in themes" ng-click="setTheme(value)"><a href=""><i class="fa fa-cog"></i>&nbsp; {{key}}</a></li>
	  </ul>
	</div>

	<h5>Edit style (CSS properties)</h5>

	<div class="row">
		<div class="col-lg-3 left-tabs">
			<ul class="nav nav-tabs nav-stacked">
				<li ng-click="currentStyle='position'" ng-class="{active: currentStyle=='position'}"><a href="">Position</a></li>
				<li ng-click="currentStyle='margin'" ng-class="{active: currentStyle=='margin'}"><a href="">Margin</a></li>
				<li ng-click="currentStyle='dimension'" ng-class="{active: currentStyle=='dimension'}"><a href="">Dimension</a></li>
				<li ng-click="currentStyle='display'" ng-class="{active: currentStyle=='display'}"><a href="">Display</a></li>
				<li ng-click="currentStyle='background'" ng-class="{active: currentStyle=='background'}"><a href="">Background</a></li>
				<li ng-click="currentStyle='border'" ng-class="{active: currentStyle=='border'}"><a href="">Border</a></li>
				<li ng-click="currentStyle='text'" ng-class="{active: currentStyle=='text'}"><a href="">Text</a></li>
				<li ng-click="currentStyle='font'" ng-class="{active: currentStyle=='font'}"><a href="">Font</a></li>
			</ul>
		</div>

		<!-- POSITION -->
		<div class="col-lg-9">
			<div ng-show="currentStyle=='position'" ng-hide="currentStyle!='position'">
				<form class="form-horizontal" >
					<div class="form-group">
						<label class="control-label col-lg-4">Position: </label>
						<div class="col-lg-8">
							<select class="bootstrap-select btn form-control" ng-change="applyStyle(selector,'position',position)" ng-model="position">
								<option value="absolute">absolute</option>
								<option value="fixed">fixed</option>
								<option value="relative">relative</option>
								<option value="static">static</option>
								<option value="inherit">inherit</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-4">Top: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="top" ng-keypress="$event.keyCode == 13 && applyStyle()" >
						</div>
						<label class="control-label col-lg-4">Bottom: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="bottom" ng-keypress="$event.keyCode == 13 && applyStyle()" >
						</div>
						<label class="control-label col-lg-4">Left: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="left" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Right: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="right" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-4">Float: </label>
						<div class="col-lg-8">
							<select class="bootstrap-select btn form-control" ng-model="float" ng-change="applyStyle(selector,'float',float)">
								<option value="left">left</option>
								<option value="right">right</option>
								<option value="none">none</option>
							</select>
						</div>
						<label class="control-label col-lg-4">Clear: </label>
						<div class="col-lg-8">
							<select class="bootstrap-select btn form-control" ng-model="clear" ng-change="applyStyle(selector,'clear',clear)">
								<option value="left">left</option>
								<option value="right">right</option>
								<option value="both">both</option>
								<option value="none">none</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-4">Overflow: </label>
						<div class="col-lg-8">
							<select class="bootstrap-select btn form-control" ng-model="overflow" ng-change="applyStyle(selector,'overflow',overflow)">
								<option value="auto">auto</option>
								<option value="hidden">hidden</option>
								<option value="scroll">scroll</option>
								<option value="visible">visible</option>
								<option value="inherit">inherit</option>
							</select>
						</div>
					</div>
				</form>
			</div>

			<div ng-show="currentStyle=='margin'" ng-hide="currentStyle!='margin'">
				<form class="form-horizontal" >
					<div class="form-group">
						<label class="control-label col-lg-4">Margin: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="margin" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Margin Top: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="marginTop" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Margin Right: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="marginRight" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Margin Bottom: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="marginBottom" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Margin Left: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="marginLeft" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
					</div>
				</form>
			</div>

			<div ng-show="currentStyle=='dimension'" ng-hide="currentStyle!='dimension'">
				<form class="form-horizontal" >
					<div class="form-group">
						<label class="control-label col-lg-4">Width: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="width" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Height: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="height" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-4">Padding: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="padding" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Padding Top: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="paddingTop" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Padding Right: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="paddingRight" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Padding Bottom: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="paddingBottom" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-lg-4">Padding Left: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="paddingLeft" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
					</div>
				</form>
			</div>

			<div ng-show="currentStyle=='display'" ng-hide="currentStyle!='display'">
				<form class="form-horizontal" >
					<div class="form-group">
						<label class="control-label col-lg-4">Display: </label>
						<div class="col-lg-8">
							<select class="bootstrap-select btn form-control" ng-model="display" ng-change="applyStyle(selector,'display',display)">
								<option value="block">block</option>
								<option value="inline">inline</option>
								<option value="inline-block">inline-block</option>
								<option value="none">none</option>
							</select>
						</div>
						<label class="control-label col-lg-4">Visibility: </label>
						<div class="col-lg-8">
							<select class="bootstrap-select btn form-control" ng-model="visibility" ng-change="applyStyle(selector,'visibility',visibility)">
								<option value="visible">visible</option>
								<option value="hidden">hidden</option>
								<option value="none">none</option>
							</select>
						</div>
						<label class="control-label col-lg-4">Z-index: </label>
						<div class="col-lg-8">
							<input class="form-control" ng-model="zIndex" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
					</div>
				</form>
			</div>

			<!-- BACKGROUND -->

			<div ng-show="currentStyle=='background'" ng-hide="currentStyle!='background'">
				<form class="form-horizontal" >
					<div class="form-group">
						<label class="control-label col-xs-5">Background: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="background" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<hr>
						<label class="control-label col-xs-5">Attachment: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundAttachment" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">BlendMode: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundBlendMode" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">Clip: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundClip" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">Color: </label>
						<div class="col-xs-7">

							<input class="form-control" 
								   ng-model="backgroundColor" 
								    
								   ng-keypress="($event.keyCode == 13) && applyStyle(selector,'background-color',backgroundColor)" 
								   ng-pattern="/^#([0-9a-fA-F][0-9a-fA-F][0-9a-fA-F])([0-9a-fA-F][0-9a-fA-F][0-9a-fA-F])?$/">
							
							<button colorpicker="" type="button" colorpicker-position="right" class="btn btn-success ng-pristine ng-valid clrpck" ng-model="backgroundColor">Change color</button>
						</div>
						<label class="control-label col-xs-5">Image: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundImage" ng-keypress="$event.keyCode == 13 && applyStyle()">
							<upload-button class="btn btn-success btn-upload" url="/image" on-success="uploadSuccess(response,'backgroundImage')" >Upload</upload-button>
						</div>
						<label class="control-label col-xs-5">Origin: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundOrigin" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">Position: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundPosition" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">PositionX: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundPositionX" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">PositionY: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundPositionY" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">Repeat: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundRepeat" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">RepeatX: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundRepeatX" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">RepeatY: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundRepeatY" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
						<label class="control-label col-xs-5">Size: </label>
						<div class="col-xs-7">
							<input class="form-control" ng-model="backgroundSize" ng-keypress="$event.keyCode == 13 && applyStyle()">
						</div>
					</div>
				</form>
			</div>

			<!-- BORDER -->

			<div ng-show="currentStyle=='border'" ng-hide="currentStyle!='border'">
				<form class="form-horizontal" >

					<!-- SHORT FORM -->

					<div class="form-group">
						<fieldset>
							<legend>Border (all sides, short notation)</legend>
							<label class="control-label col-xs-5">Border: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="border" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>

					<div class="form-group">
						<fieldset>
							<legend>Border (all sides)</legend>
							<label class="control-label col-xs-5">Width: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderWidth" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Style: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderStyle" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Color: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderColor" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>

					<!-- SHORT PER DIRECTION -->

					<div class="form-group">
						<fieldset>
							<legend>Border (separate sides, short notation)</legend>
							<label class="control-label col-xs-5">Border Top: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderTop" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Border Right: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderRight" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Border Bottom: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderBottom" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Border Left: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderLeft" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>

					<!-- SEPARATE PER DIRECTION -->

					<div class="form-group">
						<fieldset>
							<legend>Border Top</legend>
							<label class="control-label col-xs-5">Width: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderTopWidth" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Style: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderTopStyle" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Color: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderTopColor" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Border Right</legend>
							<label class="control-label col-xs-5">Width: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderRightWidth" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Style: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderRightStyle" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Color: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderRightColor" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Border Bottom</legend>
							<label class="control-label col-xs-5">Width: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderBottomWidth" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Style: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderBottomStyle" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Color: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderBottomColor" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Border Left</legend>
							<label class="control-label col-xs-5">Width: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderLeftWidth" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Style: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderLeftStyle" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Color: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderLeftColor" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>

					<!-- COMMON PROPERTIES -->

					<div class="form-group">
						<fieldset>
							<legend>Common properties</legend>
							<label class="control-label col-xs-5">Radius: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderRadius" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Collapse: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderCollapse" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Spacing: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderSpacing" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Image: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderImage" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>

					<!-- RADIUS -->

					<div class="form-group">
						<fieldset>
							<legend>Border Radius (separate corners)</legend>
							<label class="control-label col-xs-5">Top Right Radius: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderCollapse" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Bottom Right Radius: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderCollapse" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Bottom Left Radius: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderCollapse" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Top Left Radius: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderCollapse" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>

					<!-- IMAGE -->

					<div class="form-group">
						<fieldset>
							<legend>Border Image</legend>
							<label class="control-label col-xs-5">Source: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderImageSource" ng-keypress="$event.keyCode == 13 && applyStyle()">
								<upload-button class="btn btn-success btn-upload" url="/image" on-success="uploadSuccess(response,'borderImageSource')" >Upload</upload-button>
							</div>
							<label class="control-label col-xs-5">Width: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderImageWidth" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Outset: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderImageOutset" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Repeat: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderImageRepeat" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
							<label class="control-label col-xs-5">Slice: </label>
							<div class="col-xs-7">
								<input class="form-control" ng-model="borderImageSlice" ng-keypress="$event.keyCode == 13 && applyStyle()">
							</div>
						</fieldset>
					</div>
				</form>
			</div>

			<!-- TEXT -->

			<div ng-show="currentStyle=='text'" ng-hide="currentStyle!='text'">
				<form class="form-horizontal" >
					<div class="form-group">
						<fieldset>
							<legend>General</legend>
							<label class="control-label col-xs-5">Text Align</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" ng-keypress="$event.keyCode == 13 && applyStyle()"  value="" >
							</div>
							<label class="control-label col-xs-5">Text Anchor</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Text Decoration</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Text Indent</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" ng-keypress="$event.keyCode == 13 && applyStyle()"  value="" >
							</div>
							<label class="control-label col-xs-5">Text Overflow</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Text Rendering</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Text Shadow</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Text Transform</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Text Underline</legend>
							<label class="control-label col-xs-5">Mode</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Width</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Style</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Color</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Text Line Through</legend>
							<label class="control-label col-xs-5">Mode</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Width</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Style</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Color</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Text Overline</legend>
							<label class="control-label col-xs-5">Mode</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Width</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Style</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Color</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Word properties</legend>
							<label class="control-label col-xs-5">Word Break</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Word Spacing</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Word Wrap</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Writing Mode</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
						</fieldset>
					</div>
				</form>
			</div>

			<div ng-show="currentStyle=='font'" ng-hide="currentStyle!='font'">
				<form class="form-horizontal" >
					<div class="form-group">
						<fieldset>
							<legend>Short notation</legend>
							<label class="control-label col-xs-5">Font</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" ng-keypress="$event.keyCode == 13 && applyStyle()"  value="" >
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Separate notation</legend>
							<label class="control-label col-xs-5">Font Style</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" ng-keypress="$event.keyCode == 13 && applyStyle()"  value="" >
							</div>
							<label class="control-label col-xs-5">Font Variant</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Font Weight</label>
							<div class="col-xs-7">
								<input type="text" ng-model="fontWeight" ng-keypress="$event.keyCode == 13 && applyStyle(selector,'font-weight',fontWeight)" class="text form-control" >
							</div>
							<label class="control-label col-xs-5">Font Size</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" ng-keypress="$event.keyCode == 13 && applyStyle()"  value="" >
							</div>
							<label class="control-label col-xs-5">Font Family</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" ng-keypress="$event.keyCode == 13 && applyStyle()"  value="" >
							</div>
						</fieldset>
					</div>
					<div class="form-group">
						<fieldset>
							<legend>Extras</legend>
							<label class="control-label col-xs-5">Font Variant Ligatures</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Font Stretch</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
							<label class="control-label col-xs-5">Font Kerning</label>
							<div class="col-xs-7">
								<input type="text" class="text form-control" value="" >
							</div>
						</fieldset>
					</div>
				</form>
			</div>

			<!-- THE END -->

			<hr>
			<button class="btn btn-default" ng-click="setProperties(active.element)">Apply</button>
			<button class="btn btn-default" ng-click="collectStyle()">Save</button>
			<hr>

			<!--
			<div ng-repeat="(key,value) in elemProps">
				<label>{{key}}:</label><input type="text" class="prop" value="{{value}}" >
			</div>
			-->
		</div>
	</div>
</div>
