
<div ng-controller="StyleController">

	<h3>Change Theme</h3>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="theme-dropdown" data-toggle="dropdown"><i class="fa fa-cogs">&nbsp; Theme <span class="caret"></span></i>
	  </button>
	  <ul class="dropdown-menu" id="theme-dropdown-align-center" role="menu" aria-labelledby="theme-dropdown">
	  	<li ng-repeat="(key,value) in themes" ng-click="setTheme(value)"><a href=""><i class="fa fa-cog"></i>&nbsp; {{key}}</a></li>
	  </ul>
	</div>

	<h3>Style CSS Properties</h3>

	<div class="row">
		<div class="col-lg-4 left-tabs">
			<ul class="nav nav-tabs nav-stacked">
				<li ng-click="setStyle('position')" ng-class="{active: currentStyle=='position'}"><a href=""><h4>Position</h4></a></li>
				<li ng-click="setStyle('margin')" ng-class="{active: currentStyle=='margin'}"><a href=""><h4>Margin</h4></a></li>
				<li ng-click="setStyle('dimension')" ng-class="{active: currentStyle=='dimension'}"><a href=""><h4>Dimension</h4></a></li>
				<li ng-click="setStyle('display')" ng-class="{active: currentStyle=='display'}"><a href=""><h4>Display</h4></a></li>
				<li ng-click="setStyle('background')" ng-class="{active: currentStyle=='background'}"><a href=""><h4>Background</h4></a></li>
				<li ng-click="setStyle('border')" ng-class="{active: currentStyle=='border'}"><a href=""><h4>Border</h4></a></li>
				<li ng-click="setStyle('text')" ng-class="{active: currentStyle=='text'}"><a href=""><h4>Text</h4></a></li>
				<li ng-click="setStyle('font')" ng-class="{active: currentStyle=='font'}"><a href=""><h4>Font</h4></a></li>
			</ul>
		</div>

		<div class="col-lg-8">
			<div ng-include="currentStyle"></div>
		</div>

		<hr>
		<button class="btn btn-default" ng-click="setProperties(active.element)">Apply</button>
		<button class="btn btn-default" ng-click="saveRevision()">Save</button>
		<hr>

		<!--
		<div ng-repeat="(key,value) in elemProps">
			<label>{{key}}:</label><input type="text" class="prop" value="{{value}}" >
		</div>
		-->
	</div>
</div>
