
<script type="text/ng-template"  id="tree_item_renderer.html">

	<span class="select" 
		ng-mouseover="node.style.outline='1px solid red'" 
		ng-mouseleave="node.style.outline=''" 
		ng-click="node.style.outline=''; setActive(node)">
			{{ (node.id ? node.id + " (" + node.nodeName.toLowerCase() + ")" : "") || node.nodeName.toLowerCase() + (node.className ? " ." + node.className.replace("ng-scope","").replace("ng-binding","") : "")   }}
	</span>
	
	<span class="treeControls">
		<i class="fa fa-trash-o" ng-click="removeElement(node)"></i>
	</span>
	
	<ul class="tree" ng-if="!node.className.match(opaque)">
		<li ng-repeat="node in node.children | excludeElements" ng-include="'tree_item_renderer.html'"></li>
    </ul>

</script>

<ul class="tree">
	<li ng-repeat="node in [TARGET_BODY]" ng-include="'tree_item_renderer.html'"></li>
</ul>
