
<script type="text/ng-template"  id="tree_item_renderer.html">
	<span class="select" ng-click="setActive(node)">{{node.id || node.nodeName.toLowerCase()}}</span>
<!--
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
-->
	<ul class="tree" ng-controller="TreeController">
		<li ng-repeat="node in node.children | excludeElements" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul class="tree" ng-controller="TreeController">
	<li ng-repeat="node in [TARGET_BODY]" ng-include="'tree_item_renderer.html'"></li>
</ul>
