
@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/angular-upload/src/directives/btnUpload.less";

#queen-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

html, body, #MainContent {
	height: 100vh;
}

html, body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow:hidden;
}

iframe {
	position: absolute;
	border: 0;
}

#DragQueen {
	position:absolute;
	top: 10%;
	left: 30%;
	max-width:800px;
	height:auto;
	padding: 20px;
	border:1px solid #aaa;
	box-shadow: 0px 0px 8px;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:10000;
/*	opacity: 0.6;
    filter: alpha(opacity=60);adding: 10px;
	background: rgba(238,238,238,0.6);*/
}

#DragQueen button {
	margin: 5px;
	opacity: 1.0;
}

// Navigator panel

.navigator {
	width: 132px;
	clear: both;
	float: left;
	margin-bottom: 20px;
}

.navigator span {
	display: inline-block;
	padding: 10px;
}

.navigator-hint:hover {
	background-color: #fff;
	outline: 1px solid gray;
}

// RichText editor

// Style menus

.colorpicker.dropdown {
	z-index:11000;
}

form {
	padding: 20px;
}

legend {
	font-size: 18px;
}

.left-tabs {
	padding: 20px 0px;
}


input.ng-invalid {
	background: #FFE6E6;
}


// TreeView elements

ul.tree {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

.tree li {
	margin-top: 5px;
	margin-left: 20px;
}

span.select {
	margin-right: 15px;
	line-height: @font-size-large;
}

span.select:hover {
	font-size: @font-size-large;
	text-decoration: underline;
	background: #FFF;
}

span.treeControls {
	position: absolute;
	right: 0;
	margin-right: 15px;
}

.treeControls i {
	padding: 3px 5px 3px 3px;
}

.treeControls i:hover {
	border: 1px solid gray;
	border-radius: 3px;
	background: #FFF;
}

.treeControls i:active {
	background: red;
}

// EditView elements

#theme-dropdown-align-center{
  margin-left: 39%;
}


@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";
