
#DragQueen {
	position:absolute;
	top: 10%;
	left: 30%;
	max-width:800px;
	height:auto;
	padding: 20px;
	border:1px solid #aaa;
	box-shadow: 3px 3px 5px;
	text-align:center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:10000;
/*	opacity: 0.6;
    filter: alpha(opacity=60);adding: 10px; 
	background: rgba(238,238,238,0.6);*/
}

#DragQueen button {
	margin: 5px;
	opacity: 1.0;
}

.colorpicker.dropdown {
	z-index:11000;
}

form {
	padding: 20px;
}

legend {
	font-size: 18px;
}

.left-tabs {
	padding: 20px 0px;
}

iframe {
	position: absolute;
	border: 0;
}

