
@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/angular-upload/src/directives/btnUpload.less";

html, body, #MainContent {
	height: 100vh;
}

html, body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow:hidden;
}
	

ul.tree {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

.tree li {
	margin-left: 20px;
}

span.select:hover {
	background: #FFF;
}

#theme-dropdown-align-center{
  margin-left: 35%;
}

@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";
