
@import "../lib/bootstrap/less/bootstrap.less";
@import "../lib/angular-upload/src/directives/btnUpload.less";

html, body, #MainContent {
	height: 100vh;
}

html, body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow:hidden;
}

// TreeView elements

ul.tree {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

.tree li {
	margin-top: 5px;
	margin-left: 20px;
}

span.select {
	margin-right: 15px;
	line-height: @font-size-large;
}

span.select:hover {
	font-size: @font-size-large;
	text-decoration: underline;
	background: #FFF;
}

span.treeControls {
	position: absolute;
	right: 0;
	margin-right: 15px;
}

.treeControls i {
	padding: 3px 5px 3px 3px;
}

.treeControls i:hover {
	border: 1px solid gray;
	border-radius: 3px;
	background: #FFF;
}

.treeControls i:active {
	background: red;
}

// EditView elements

#theme-dropdown-align-center{
  margin-left: 39%;
}

@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";
