
@import "../lib/bootstrap/less/bootstrap.less";
// Padding for fixed-navbar
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

ul.tree {
	list-style: none;
	padding-left: 0;
	text-align: left;
}

.tree li {
	margin-left: 20px;
}

span.select:hover {
	background: #FFF;
}

button.btn-group {
	margin: 0;
}


@iconSpritePath: "/images/bootstrap/glyphicons-halflings.png";
@iconWhiteSpritePath:     "/images/bootstrap/glyphicons-halflings-white.png";
