
<div style="z-index: 0"> <!-- iframe event shield -->

	<iframe live-page
			id="MainContent"
			src='/'
			width="100%"
			frameborder="0"
			allowtransparency="true"
			scrolling="no">
	</iframe>

</div>

<div id="DragQueen" class="jumbotron">
	<button class="btn btn-default" ng-click="setMenu('main_menu')">Home</button>
	<span class="label label-info">Active Element <span class="badge" ng-bind="active.string"></span></span>
	<p></p>
	<div ng-include="activeMenu" ng-controller="MenuController"></div>
	<button class="btn  btn-default" ng-click="collectDocument()">Collect HTML</button>
	<button class="btn  btn-default" ng-click="collectStyle()">Collect Style</button>
</div>
