<h1>Admin</h1>
<p>
  <a href="#/" ng-click="logout()">Logout</a>
</p>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="btn-group">
  <a class="btn btn-default" href="#"><i class="fa fa-bold"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-italic"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-underline"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-font"></i></a>
</div>
<div class="btn-group">
  <a class="btn btn-default" href="#"><i class="fa fa-align-left"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-align-center"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-align-right"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-align-justify"></i></a>
</div>
<div class="btn-group">
  <a class="btn btn-default" href="#"><i class="fa fa-file-video-o"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-file-image-o"></i></a>
</div>
<div class="container"></div>
<div id="dragme"></div>

<script src="admin/js/dragqueen.js"></script>
